* {
    font-family: Hack Nerd Font;
    font-size: 16px;
    background-color: transparent;
}

window > box {
	margin-left: 7.5px;
	margin-right: 7.5px;
	margin-top: 5px;
    background: #000000;
    border: 2px solid #55A4D1;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 5px 0 5px;
}

#workspaces button.empty {
    color: #666666;
}

#workspaces button.active {
    color: #FFFFFF;
    background-color: #55A4D1;
}

#workspaces button.urgent {
    color: #FF0000;
}

tooltip {
    background: #000000;
    border: 2px solid #55A4D1;
    border-radius: 8px;
}

#tray menu {
  background-color: #000000;
  color: #FFFFFF;
}

#cpu,
#memory,
#disk,
#pulseaudio,
#custom-cmus,
#clock {
    padding: 0 5px 0 5px;
}
