* {
    font-family: Hack Nerd Font;
    font-size: 16px;
    background-color: transparent;
}

#waybar {
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 5px 0 5px;
}

#workspaces button.persistent {
    color: #666666;
}

#workspaces button.active {
    color: #000000;
    background-color: #FFFFFF;
}

#workspaces button.urgent {
    color: #FF0000;
}

tooltip {
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

#custom-cmus,
#clock {
    padding: 0 5px 0 5px;
}
